*{
    font-family: Roboto, Arial, Tahoma, Helvetica, Verdana;
    box-sizing: border-box;
    
}

html{
    
    background-color: white;
    font-size: 62.5%;
    color: rgb(2, 56, 0);
    font-family: Arial;

    text-align: justify;
    text-justify: inter-word;
    line-height: 130%;


}

header, main{

    margin-left: 1.3rem;
    margin-right: 1.3rem;

}

h1{
    margin-top: 1.5rem;
    font-size: 2.8rem;
    font-weight: 600;
    /* margin: .5rem; */
    margin-bottom: 3rem;
}

h2{
    font-size: 2rem
}

p{
    font-size: 1.8rem;
    margin-bottom: 3.5rem;
    margin-top: 1rem;

}

img{
    width: 100%;
    margin-bottom: 1.5rem;
}

footer{
    
    background-color: rgb(147, 201, 136) ;
    margin: 0;
    padding: 1rem;
    
}

footer p {
    text-align: center;
    margin-bottom: .5rem;
}

span{
    color:rgb(6, 85, 12);
    font-weight: bold;
}